# Dependencies
node_modules/
.pnp
.pnp.js

# Build and distribution outputs
dist/
build/
web-build/

# Expo & React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android local & build files
.gradle/
local.properties
android/app/build/
android/.gradle/

# Environment variables
.env
.env*.local

# Logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.eslintcache

# OS files
Thumbs.db
.DS_Store
